:root {
  --exitRed: #c62323;
  --brightBlue: #1f5dc2;
  --mutedBlue: #7393c7;
  --popupbackgroundLightGray: #ececec;
  --darkGray: #707070;
  --linkBlue: #197ae8;
  --grayButtonBorder: #808080;
  --brightBlueButtonBorder: #1044a8;
  --mutedBlueButtonBorder: #3b5faa;
}

/* Launcher Page */
.top-bar {
  position: absolute;
  top: 2px;
  right: 300px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2rem;
}

/* For 1106x773 Screen */
.report-button {
  background: none;
  color: yellow;
  border: none;
  font-size: 12px;
  cursor: pointer;
  padding: 6px 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container with Background Image */
.background-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://github.com/farm-ng/amiga-dev-kit/assets/133177230/7cc6cd85-0f9f-47d7-bea8-2d68a3bb9649");
  background-size: cover;
  background-position: center;
}

/* Dark Blur Overlay */
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(79, 79, 79, 0.5);
  backdrop-filter: blur(2px);
}

/* Overall Popup */
.popup-container {
  background: var(--popupbackgroundLightGray);
  width: 948px;
  height: 628px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Title */
.popup-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 2rem;
}

/* Back Button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 125px;
  height: 51px;
  background: #707070;
  color: white;
  border: none;
  border-radius: 21px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.back-button svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Exit Button */
.exit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 125px;
  height: 51px;
  background: var(--exitRed);
  color: white;
  border: none;
  border-radius: 21px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.exit-button svg {
  margin-left: 8px;
}

/* Square Buttons */
.square-button {
  background: white;
  border: 3px solid var(--grayButtonBorder);
  border-radius: 20px;
  width: 184px;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  cursor: pointer;
  font-size: 24px;
  color: var(--buttonText);
  margin-top: 0.5rem;
}

/* Rectangle Buttons */
.rectangle-button {
  background: white;
  border: 3px solid var(--grayButtonBorder);
  border-radius: 20px;
  width: 495px;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 36px;
  color: var(--buttonText);
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}

/* Immediate Assistance Buttons */
.assistance-title {
  font-size: 50px;
  max-width: 70%;
  text-align: center;
}

.assistance-yes-button {
  position: absolute;
  bottom: 151px;
  left: 132px;
  width: 278px;
  height: 150px;
  background: var(--brightBlue);
  color: white;
  border: 3px solid #1044a8;
  border-radius: 20px;
  font-size: 48px;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assistance-no-button {
  position: absolute;
  bottom: 151px;
  right: 132px;
  width: 278px;
  height: 150px;
  background: #7393c7;
  color: white;
  border: 3px solid #3b5faa;
  border-radius: 20px;
  font-size: 32px;
  text-align: right;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.assistance-report-text {
  font-size: 64px;
  margin: 0;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flex Layout for Options */
.options-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-row {
  display: flex;
  justify-content: center;
  margin: 1rem 0; /* space between rows */
}

.options-row .square-button {
  margin: 0 2rem; /* horizontal spacing between buttons */
}

.options-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* QR Page */
.qr-svg {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  align-items: center;
  max-width: 50%;
}

.qr-scan-text {
  font-size: 36px;
  text-align: center;
  margin: 0;
  flex-shrink: 1;
  line-height: 1.2;
  max-width: 100%;
  margin-bottom: 3.5rem;
}

.qr-link {
  font-size: 24px;
  text-align: left;
  margin-top: 1rem;
  color: var(--linkBlue);
  text-decoration: none;
  bottom: 20px;
  left: 20px;
  position: absolute;
  max-width: 50%;
  word-wrap: break-word;
  text-decoration: underline;
}

/* Explanation Page */
.explanation-textarea {
  max-width: 80%;
  width: 814px;
  height: 300px;
  border-radius: 20px;
  border: 2px solid var(--grayButtonBorder);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}

.explanation-textarea:focus {
  outline: none;
  border: 2px solid var(--brightBlue);
}

.explanation-title {
  width: 814px;
  max-width: 80%;
  font-size: 32px;
  text-align: left;
  margin-bottom: 0.5rem;
}

.explanation-continue-button {
  width: 230px;
  height: 65px;
  background: var(--brightBlue);
  border: 3px solid #1044a8;
  border-radius: 20px;
  font-size: 24px;
  text-align: left;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 20px;
  right: 20px;
  position: absolute;
}
