/* Colors for Reference */
:root {
    --exitRed : #C62323;
    --brightBlue : #1F5DC2;
    --mutedBlue : #7393C7;
    --popupbackgroundLightGray : #ECECEC;
    --darkGray : #707070;
    --linkBlue : #197AE8;
}

/* App Container */
.App {
    text-align: left;
}

/* Back Button */
.back-button {
    width: 125px;
    height: 51px;
    background: var(--darkGray);
    border-radius: 21px;
}

/* Link */
.link {
    color: var(--linkBlue);
    text-decoration: underline;
    cursor: pointer;

    /* Example Usage:
    <div className="link">
        <a href="https://www.google.com/">
            Click Here!
        </a>
    </div> */
}
/* Exit Button */
.exit-button {
    
}